DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=123456
DB_NAME=marketplace

PUBSUB_PROJECT_ID=serjava-demo
PUBSUB_SUBSCRIPTION=grupo-j
GOOGLE_APPLICATION_CREDENTIALS=./sa-grupo-j-key.json

API_PORT=3000
